{% extends 'Frontpage/base.html' %}
{% load static %}
{% block content %}
<!-- Page Header Start here -->
<section class="page-header section-notch">
    <div class="overlay">
        <div class="container">
            <h3>Don't miss out the events specially for you</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>-</li>
                <li>Events</li>
            </ul>
        </div>
    </div>
</section>
<!-- Page Header End here -->

{% if events %}
<!-- Event Start here -->
<section class="event event-two padding-120">
    <div class="container">
        <div class="event-items">
            <div class="row">

                {% for event in events %}
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="event-item">
                            <div class="event-image">
                                <img src="{{ event.Image.url }}" alt="event image" class="img-responsive">
                                <div class="date">
                                    <span>{{ event.Date | date:'d' }}</span>
                                    <p>March</p>
                                </div>
                            </div>
                            <div class="event-content">
                              <h4>{{ event.Name }}</h4>
                              <ul>
                              <li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>{{ event.Start_Time }} - {{ event.End_Time }}</li>
                              <!-- <li><span><i class="fa fa-home" aria-hidden="true"></i></span>218 New Newyork Road Newyork</li> -->
                              </ul>
                              <p>{{ event.Description }}</p>
                              <a href="{% url 'contact' %}" class="button-default">Join Now</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
<!-- event End here -->
{% endif %}

{% endblock content %}