{% extends 'Frontpage/base.html' %}
{% load static %}
{% block content %}

<!-- Page Header Start here -->
  <section class="page-header section-notch">
    <div class="overlay">
      <div class="container">
        <h3>Our  Gallery</h3>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>-</li>
          <li>Gallery</li>
        </ul>
      </div><!-- container -->
    </div><!-- overlay -->
  </section><!-- page header -->
  <!-- Page Header End here -->

  {% if images %}
  <!-- Gallery Start here -->
  <section class="gallery padding-120">
    <div class="container">

      <div class="gallery-items">

        {% for image in images %}
          <div class="gallery-item branding packing">
            <div class="gallery-image">
              <img src="{{ image.Image.url }}" alt="gallery image" class="img-responsive">
              <div class="gallery-overlay">
                <div class="bg"></div>
              </div>
              <div class="gallery-content">
                <a href="{{ image.Image.url }}" data-rel="lightcase:myCollection"><i
                    class="icon flaticon-expand"></i></a>
              </div>
            </div>
          </div>
        {% endfor %}
        
      </div>
      <div class="gallery-button"><a href="" class="button-default">View More Gallery</a></div>
    </div>
  </section>
  <!-- Gallery End here -->
  {% endif %}

{% endblock content %}