{% extends 'Frontpage/base.html' %}
{% load static %}

{% block content %}
<style>
img {
    max-height: 360px;
}

.mobile-banner{
	display: none;
}

/* Media Query for Phone Screens */
@media (max-width: 767px) {
	.banner-item {
		background-image: url('https://images.pexels.com/photos/1386604/pexels-photo-1386604.jpeg?auto=compress&cs=tinysrgb&w=600');
	}

	.system-banner{
		display: none;
	}

	.mobile-banner{
		display: block;
	}
}

</style>
	<!-- System Banner Start here -->
	<section class="banner section-notch system-banner">
		<div class="banner-slider swiper-container">
			<div class="swiper-wrapper">

				{% for banner in system_banners %}
					<div class="banner-item slide-{{ banner.id }} swiper-slide" style="background-image: url('{{banner.Image.url}}');">
						<div class="banner-overlay"></div>
						<div class="container">
							<div class="banner-content"></div>
						</div>
					</div>
				{% endfor %}
				
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</section>
	<!--System Banner End here -->

	<!-- mobile Banner Start here -->
	<section class="banner section-notch mobile-banner">
		<div class="banner-slider swiper-container">
			<div class="swiper-wrapper">

				{% for banner in mobile_banners %}
					<div class="banner-item slide-{{ banner.id }} swiper-slide" style="background-image: url('{{banner.Image.url}}');">
						<div class="banner-overlay"></div>
						<div class="container">
							<div class="banner-content"></div>
						</div>
					</div>
				{% endfor %}
				
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</section>
	<!--mobile Banner End here -->

	<!-- facility Start here -->
	<section class="facility padding-120" style="margin-top: -70px;">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 col-sm-6 col-xs-12">
					<div class="facility-item">
						<span><img src="{% static 'frontpage/image/_I2A2974.jpg' %}" style="height: 250px; width: 300px; border-radius:50% ; overflow: hidden; object-fit: cover;" alt=""></span>
						<h4 style="margin-top: 15px;">UNIQUE RIDES 40+ EXPERIENCES</h4>
						<p style="text-align: justify;">Engage in an invigorating array of rides and activities , with over 40 unique ride experiences that promise to stimulate both mind and body, making Active Planet the ultimate hub for interactive play and adventure in India.</p>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6 col-xs-12">
					<div class="facility-item">
						<span><img src="{% static 'frontpage/banner-image.png' %}" style="height: 250px; width: 300px; border-radius:50% ; overflow: hidden; object-fit: cover;" alt=""></span>
						<h4 style="margin-top: 15px;">EVERYDAY ENTERTAINMENT</h4>
						<p style="text-align: justify;">Delight in daily doses of fun and excitement through a dynamic lineup of events, workshops, and performances that cater to visitors of all ages, ensuring there's never a dull moment at Active Planet, where entertainment is a way of life.</p>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6 col-xs-12">
					<div class="facility-item">
						<span><img src="{% static 'frontpage/garden.jpg' %}" style="height: 250px; width: 300px; border-radius:50% ; overflow: hidden;object-fit: cover;" alt=""></span>
						<h4 style="margin-top: 15px;">10000+ SQ. FT OF VERTICAL GARDEN</h4>
						<p style="text-align: justify;">Immerse yourself in the tranquil beauty of our expansive 10,000+ square feet vertical garden, providing a breathtaking natural backdrop for relaxation and introspection, making Active Planet a haven of peace and serenity amidst the bustling urban landscape.</p>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6 col-xs-12">
					<div class="facility-item">
						<span ><img src="{% static 'frontpage/WhatsApp Image 2023-10-25 at 16.33.37_98aab03f.jpg' %}" style="height: 250px; width: 300px; border-radius:50% ; overflow: hidden;object-fit: cover;" alt=""></span>
						<h4 style="margin-top: 15px;">RELAX @ THE <br>FOOD-COURT</h4>
						<p style="text-align: justify;"> Indulge in a culinary journey at our vibrant food court, where an eclectic mix of flavours and cuisines awaits, allowing you to unwind and savour a variety of delectable dishes, ensuring that every visit to Active Planet is a delightful feast for the senses.</p>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- facility End here -->

	<!-- About Start here -->
	<section class="about section-notch">
		<div class="overlay padding-120">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="about-image">
							<img src="{% static 'frontpage/101-Of-Planning-An-Unforgettable-Kids-Birthday-Party.jpg' %}" style="border: 2px solid whitesmoke;border-radius: 5px;" alt="about image" class="img-responsive">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about-content">
							<h3>BIRTHDAY FUN AT ACTIVE PLANET
							</h3>
							<p>Celebrate the magic of your birthday at Active Planet and make it an extraordinary affair to remember! Enjoy a complimentary pass as our heartfelt present to you, granting you access to a day filled with boundless excitement and jubilation. Simply present your ID at the entrance and let the festivities unfold, allowing you to craft priceless moments and unforgettable memories on your special day.</p>
							<ul>
								<li><a href="{% url 'about' %}" class="button-default">Read More</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- About End here -->
	
	{% if schools %}
		<!-- schools Start here -->
		<section class="rides padding-120">
			<div class="container">
				<div class="section-header">
					<h3>School picnic Packages</h3>
					<p>Spark excitement and forge unforgettable memories with our exclusive group school tour packages, specially curated to infuse learning with adventure. Seize the opportunity to indulge in thrilling experiences at exclusive rates, ensuring an educational journey that promises fun-filled exploration.</p>
				</div>

				<div class="row" >
					{% for school in schools %}
						<div class="col-lg-6 col-sm-6 col-xs-12">
							<div class="class-item" style="text-align: end;">
								<div class="content" >
									<img src="{{ school.Image.url }}"  alt="">
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

				<div style="text-align: end;"><a href="{% url 'packages' %}"><h4 style="color: rgb(146, 39, 143);">See Exciting Offers ></h4></a></div>

			</div>
		</section>
		<!-- schools End here -->
	{% endif %}

	<!-- Teachers Start here -->
	<!-- <section class="teachers section-notch">
		<div class="overlay padding-120">
			<div class="container">
				<div class="section-header bg">
					<h3>Vlogs</h3>
				</div>
				<div class="video-container">
					<div class="video-carousel" style="display: flex; justify-content: center;">
						<div class="" style="margin: 10px;">
							<iframe src="https://www.instagram.com/p/C0EhE4QPOAd/embed/" width="320" height="495" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
						</div>

						<div class="" style="margin: 10px;">
							<iframe src="https://www.instagram.com/p/Cz-fX8AJEJ_/embed/" width="320" height="495" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
						</div>

						<div class="" style="margin: 10px;">
							<iframe src="https://www.instagram.com/p/CzoglRYvu4G/embed/" width="320" height="495" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
						</div>
					</div>
    			</div>	
			</div>
		</div>
	</section> -->
	<!-- Teachers End here -->

	<!-- Vlogs Start Here -->
	<section class="teachers section-notch">
		<div class="overlay padding-120">
			<div class="container">
				<div class="section-header bg">
					<h3>Vlogs</h3>
				</div>
	
				<div class="testimonial-items">
					<div class="testimonial-slider swiper-container">
						<div class="swiper-wrapper">

							<div class="testimonial-item swiper-slide">
								<iframe src="https://www.instagram.com/p/C1RpfOkS3i_/embed/" width="320" height="495" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
							</div>

							<div class="testimonial-item swiper-slide">
								<iframe src="https://www.instagram.com/p/CykZX-PyvFE/embed/" width="320" height="495" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
							</div>

							<div class="testimonial-item swiper-slide">
								<iframe src="https://www.instagram.com/p/CwfJk8kIQK7/embed/" width="320" height="495" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
							</div>

							<div class="testimonial-item swiper-slide">
								<iframe src="https://www.instagram.com/p/C1Ogh7irxrM/embed/" width="320" height="495" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
							</div>

							<div class="testimonial-item swiper-slide">
								<iframe src="https://www.instagram.com/p/C1EMjPjStKp/embed/" width="320" height="495" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
							</div>

							<div class="testimonial-item swiper-slide">
								<iframe src="https://www.instagram.com/p/Cz-fX8AJEJ_/embed/" width="320" height="495" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
							</div>

							<div class="testimonial-item swiper-slide">
								<iframe src="https://www.instagram.com/p/CznO7r6pt1G/embed/" width="320" height="495" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
							</div>

							<div class="testimonial-item swiper-slide">
								<iframe src="https://www.instagram.com/p/Cy-C-_8Ps2t/embed/" width="320" height="495" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
							</div>

							<div class="testimonial-item swiper-slide">
								<iframe src="https://www.instagram.com/p/CyntiS6yfFL/embed/" width="320" height="495" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
							</div>

							<div class="testimonial-item swiper-slide">
								<iframe src="https://www.instagram.com/p/CvhgYa8NHUW/embed/" width="320" height="495" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
							</div>

							<div class="testimonial-item swiper-slide">
								<iframe src="https://www.instagram.com/p/CuPC3bvuPXm/embed/" width="320" height="495" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
							</div>

							<div class="testimonial-item swiper-slide">
								<iframe src="https://www.instagram.com/p/CuLvhupLhBe/embed/" width="320" height="495" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
							</div>

							<div class="testimonial-item swiper-slide">
								<iframe src="https://www.instagram.com/p/CuJMoFhrAmG/embed/" width="320" height="495" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
							</div>

							<div class="testimonial-item swiper-slide">
								<iframe src="https://www.instagram.com/p/CuHON0bpz3A/embed/" width="320" height="495" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
							</div>

						</div>
					</div>
				</div>
	
			</div>
		</div>
	</section>
	<!-- Vlogs End Here -->

	{% if images %}
		<!-- Gallery Start here -->
		<section class="gallery padding-120">
			<div class="container">
				<div class="section-header">
					<h3>Our Gallery</h3>
					<p>Discover the magic through our captivating gallery snapshots</p>
				</div>
				
				<div class="gallery-items">

					{% for image in images %}
						<div class="gallery-item branding packing">
							<div class="gallery-image">
								<img src="{{ image.Image.url }}" alt="gallery image" class="img-responsive">
								<div class="gallery-overlay">
									<div class="bg"></div>
								</div>
								<div class="gallery-content">
									<a href="{{ image.Image.url }}" data-rel="lightcase:myCollection"><i class="icon flaticon-expand"></i></a>
								</div>
							</div>
						</div>
					{% endfor %}

				</div>
				<div class="gallery-button">
					<a href="{% url 'gallery' %}" class="button-default">View More Gallery</a>
				</div>
			</div>
		</section>
		<!-- Gallery End here -->
	{% endif %}

	<!-- Achievements Start here -->
	<section class="achievements section-notch">
		<div class="overlay padding-120">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-12">
						<div class="achievement-item">
							<img src="{% static 'frontpage/icons8-management-100.png' %}" style="max-width: 30%;"  alt=""><br>
							<span class="counter">250</span><span>k+</span>
							<p>Happy Customers</p>
						</div>
					</div>

					<div class="col-md-3 col-sm-3 col-12">
						<div class="achievement-item">
							<img src="{% static 'frontpage/icons8-ferris-wheel-100.png' %}" style="max-width: 30%;" alt=""><br>
							<span class="counter">40</span><span>+</span>
							<p>Unique Experience</p>
						</div>
					</div>

					<div class="col-md-3 col-sm-3 col-12">
						<div class="achievement-item">
							<img src="{% static 'frontpage/icons8-pizza-100.png' %}" style="max-width: 30%;"  alt=""><br>
							<span class="counter">100</span><span>+</span>
							<p>Food Varieties</p>
						</div>
					</div>

					<div class="col-md-3 col-sm-3 col-12">
						<div class="achievement-item">
							<img src="{% static 'frontpage/icons8-land-96.png' %}" style="max-width: 32%;"  alt=""><br>
							<span class="counter">10,000</span><span>+</span>
							<p>Vertical Garden</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- Achievements End here -->


	<!-- Testimonial Start here -->
	<section class="testimonial padding-120">
		<div class="container">
			<div class="section-header">
				<h3>Hear From Our Lil Explorers</h3>
				<p>Listen to the wonder through the eyes of our young explorers as they share their thrilling escapades at Active Planet.
				</p>
			</div>
			<div class="testimonial-items">
				<div class="testimonial-slider swiper-container">
					<div class="swiper-wrapper">
						
						{% for review in reviews %}
							<div class="testimonial-item swiper-slide">
								<div class="testimonial-details" style="min-height: 150px;">
									<p>{{ review.Description | slice:':500' }}</p>
									<h4>{{ review.Name }} <span>{{ review.Place }}</span></h4>
									<!-- <img src="{% static 'images/testimonial/testimonial_icon_01.jpg' %}" alt="testimonial icon"
										class="img-responsive"> -->

									{% if review.Rating == 1 %}
										<span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
									{% elif review.Rating == 2 %}
										<span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
									{% elif review.Rating == 3 %}
										<span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
									{% elif review.Rating == 4 %}
										<span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span>
									{% elif review.Rating == 5 %}
										<span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
									{% endif %}
								</div>
								<!-- <div class="testimonial-image">
									<img src="{% static 'images/testimonial/testimonial_01.jpg' %}" alt="client image"
										class="img-responsive">
								</div> -->
							</div>
						{% endfor %}
						
					</div>
				</div>
			</div>
			<div style="align-items: end; display: flex; justify-content: end; margin-top: 20px; ">
				<a href="{% url 'review' %}">
					<button style="background-color:rgb(146, 39, 143); border-radius: 5px;">
						<h4 style="color: white;" >Write Your Reviews ></h4>
					</button>
				</a>
			</div>
		</div>
	</section>
	<!-- Testimonial End here -->


	{% if partners %}
		<!-- Partner Start here -->
		<section class="partner section-notch">
			<div class="overlay padding-120">
				<div class="container">
					<div class="section-header bg">
						<h3>Our Partners</h3>
						<p>Celebrating collaboration with our esteemed partners who share our commitment to delivering exceptional experiences at Active Planet.</p>
					</div>
					<div class="partner-items">
						<div class="partner-slider swiper-container">
							<div class="swiper-wrapper">

								{% for partner in partners %}
									<div class="partner-item swiper-slide">
										<img src="{{ partner.Image.url }}" alt="partner image" class="img-responsive">
									</div>
								{% endfor %}

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Partner End here -->
	{% endif %}
	
	{% if events %}
		<!-- Event Start here -->
		<section class="event event-two padding-120">
			<div class="container">
			<div class="event-items">
				<div class="row">
				
					{% for event in events %}
					<div class="col-lg-4 col-sm-6 col-xs-12">
						<div class="event-item">
						<div class="event-image">
							<img src="{{ event.Image.url }}" alt="event image" class="img-responsive">
							<div class="date">
							<span>{{ event.Date | date:'d' }}</span>
							<p>March</p>
							</div>
						</div>
						<div class="event-content">
							<h4>{{ event.Name }}</h4>
							<ul>
							<li><span><i class="fa fa-clock-o" aria-hidden="true"></i></span>{{ event.Start_Time }} - {{ event.End_Time }}</li>
							<!-- <li><span><i class="fa fa-home" aria-hidden="true"></i></span>218 New Newyork Road Newyork</li> -->
							</ul>
							<p>{{ event.Description }}</p>
							<a href="{% url 'contact' %}" class="button-default">Join Now</a>
						</div>
						</div>
					</div>
					{% endfor %}

				</div>
			</div>
			</div>
		</section>
		<!-- event End here -->
	{% endif %}

{% endblock content %}