{% extends 'Frontpage/base.html' %}
{% load static %}
{% block content %}
  <!-- Page Header Start here -->
  <section class="page-header section-notch">
    <div class="overlay">
      <div class="container">
        <h3>Rides</h3>
      </div>
    </div>
  </section>
  <!-- Page Header End here -->

  <!-- rides Start here -->
  <section class="rides padding-120">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/image/_I2A2998.jpg' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/about/_I2A2676.JPG' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/about/_I2A2770.JPG' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/image/_I2A3025.jpg' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/about/_I2A2813.JPG' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/about/_I2A2840.JPG' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/about/_I2A2847.JPG' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/about/_I2A2855.JPG' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/about/_I2A2635.JPG' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/image/_I2A3009.jpg' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/image/_I2A2974.jpg' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/image/_I2A2923.jpg' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/image/_I2A2925.jpg' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/image/_I2A2984.jpg' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/image/_I2A2711.jpg' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/image/_I2A2978.jpg' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/image/_I2A2989.jpg' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/image/_I2A2993.jpg' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/image/_I2A2997.jpg' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/about/_I2A2728.JPG' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/image/_I2A2999.jpg' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/image/_I2A3002.jpg' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/image/_I2A3003.jpg' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/image/_I2A2983.jpg' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/image/_I2A3023.jpg' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/about/_I2A2605.JPG' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="class-item">
            <div class="image">
              <img src="{% static 'frontpage/image/_I2A3030.jpg' %}" alt="class image" class="img-responsive">
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- rides End here -->
{% endblock content %}